@import '../styles/vars';
@import '../styles/mixins';
@import '../styles/breakpoints';

.title {
    font-size: 64px;
    font-weight: 800;
    color: $theme-color-blue;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #252525;
}

.title, .subtitle {
    text-align: center;
    margin: 0;
}

.header {
    @include content-size;
}

.header {
    margin-top: 64px;
}

.searchContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}