@import '../styles/vars';
@import '../styles/mixins';
@import '../styles/breakpoints';

.title {
    font-size: 64px;
    font-weight: 800;
    color: $theme-color-blue;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #252525;
}

.title, .subtitle {
    text-align: center;
    margin: 0;
}

.header, .postsGrid {
    @include content-size;
}

.header {
    margin-top: 64px;
}

.postsGrid {
    margin-top: 32px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    @media #{$BREAKPOINT-TABLET} {
        grid-template-columns: 1fr 1fr;
    }

    @media #{$BREAKPOINT-TABLET-LAND} {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
    }
}