@import '../../styles/breakpoints';
@import '../../styles/mixins';

.postsGrid {
    @include content-size;
    margin-top: 32px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    
    @media #{$BREAKPOINT-TABLET} {
        grid-template-columns: 1fr 1fr;
    }

    @media #{$BREAKPOINT-TABLET-LAND} {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
    }
}